services:
  ros2_vrobots:
    #build: .
    image: ubicoders/ros2:jazzy_svo_vrobots
    container_name: ros2_vrobots
    network_mode: host
    privileged: true
    stdin_open: true # docker run -i
    tty: true # docker run -t
    ipc: host
    volumes:
      - $HOME/.Xauthority:/root/.Xauthority:rw
      - /dev:/dev
      - /tmp:/tmp
      # Mount workspaces and datasets
      - ./virtual_robots:/home/ubuntu/virtual_robots/ # Virtual robots workspace
      - ./robot_ws:/home/ubuntu/robot_ws/ # Robot workspace
      - ./extra_shared:/home/ubuntu/extra_shared/ # Extra shared files
      - "${EUROC_DATASET_PATH}:/home/ubuntu/euroc" # EuroC dataset
      - "${KITTI_DATASET_PATH}:/home/ubuntu/KITTI" # KITTI dataset

    environment:
      - DISPLAY
      - QT_X11_NO_MITSHM=1
      - XDG_RUNTIME_DIR=/tmp/runtime-root
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu, compute, utility, graphics, compat32, video, display ]
